body {
  background-color: #F8F7F5;
  text-align: center;
  margin: 0 auto;
}

a:visited {
  color: orange;
}

header {
  max-width: 475px;
  margin: 0 auto;
  background-color: white;
  padding: 22px;
  margin-top: 20px;
}

header h1 {
  margin-bottom: 8px;
}

section {
  max-width: 475px;
  margin: 0 auto;
  
  text-align: left;
  background-color: white;
  padding: 22px;
  margin-top: 20px;
}

section h2 {
  padding-bottom: 10px;

  border-bottom-style: solid;
  border-bottom-color: darkorange;
  border-bottom-width: 2px;
}

section h2 .city-description {
  padding-left: 30px;
  font-size: 16px;
}

img {
  max-width: 55px;
  max-height: 55px;
  padding: 6px;
}
